#section0 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#section1 {
    background-image: url('./img/StockSnap_PMSB8SFE1Usm.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

#section2 {
    background-image: url('./img/StockSnap_OTQLPEALJIsm.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    height: 100vh;
}

#section3 {
    background-image: url('./img/StockSnap_UNAG6YA5APsm.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    height: 100vh;
    background-position: center;
}


#section4 {
    background-image: url('./img/StockSnap_IQ4ZKWOZX1sm.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    height: 100vh;
    background-position: center;

}


#section5 {
    background-image: url('./img/StockSnap_UT6ZSX9SBLsm.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    height: 100vh;
    background-position: center;

}


#section6 {
    background-image: url('./img/StockSnap_8FYGSC95ODsm.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    height: 100vh;
    background-position: center;

}


#section7 {
    background-image: url('./img/StockSnap_BENS2VYCMWsm.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    height: 100vh;
    background-position: center;
}

#section8 {
    background-image: url('./img/StockSnap_P1GPWXSZU2sm.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    height: 100vh;
    background-position: center;

}


#section9 {
    background-image: url('./img/StockSnap_UOL0RLOK4Csm.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    height: 100vh;
    background-position: center;

}
