#section0 {

    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#section1 {
  background-image: url('./img/StockSnap_0VYTSOOETAsmall.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

#section2 {
background-image:url('./img/StockSnap_8FYGSC95ODsmall.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    height: 100vh;
}

#section3 {
  background-image: url('./img/StockSnap_98J9NVT0YXsmall.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    height: 100vh;
    background-position: center;
}


#section4 {
    background-image: url('./img/StockSnap_BENS2VYCMWsmall.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    height: 100vh;
    background-position: center;
    color:black;

}


#section5 {
background-image: url('./img/StockSnap_E8BHXF8IMVsmall.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    height: 100vh;
    background-position: center;
    font-weight: 900;

}
#section5 p {
  background-color: #71A86E;
  padding:1em;
  opacity: .85;
}


#section6 {
background-image: url('./img/StockSnap_IQ4ZKWOZX1small.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    height: 100vh;
    background-position: center;

}


#section7 {
background-image: url('./img/StockSnap_OTQLPEALJIsmall.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    height: 100vh;
    background-position: center;
    font-weight:800;
}
#section7 p {
  background-color: #0F2A11;
  padding: 1em;
  opacity: .85;
  font-weight: 800;

}

#section8 {
background-image: url('./img/StockSnap_P1GPWXSZU2small.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    height: 100vh;
    background-position: center;
    font-weight: 800;

}
#section8 p{
  font-weight: 800;
  background-color: #505D75;
  opacity: .85;
  padding:1em;
}

#section9 {
background-image: url('./img/StockSnap_UNAG6YA5APsmall.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    height: 100vh;
    background-position: center;

}

#section9 p {
  font-weight: 800;
  background-color: #213C60;
  padding: 1em;
  opacity: .85;
}

p{
  font-size: 24px;
}
