    /*
02/13/17
Changed body element background color and font color
Changed a element text decoration to underline
Gave a selection color
Auto Prefixed selection for moz browser

02/21/17
Started desgining the site on a mobile first approach
created a center class that centers content using flexbox
Sectioned my css into chuncks where it is divided into sections
Took off list styles bullets
Created a bottom line on the chapters and added extra padding for the top
Added a underline class
added more fonts to the page
need to change the link styles to a different font rather than relying on font color change


03/01/17

added a text rendering  property
changed <a> font color
added a reponsive metatag to the html
changed more fonts size
added some margins a

*/
    /******

Selection

******/

    h1::-moz-selection {
        background: #F1C600;
    }

    h1::selection {
        background: #F1C600;
    }

    ;
    li::-moz-selection {
        background: #F1C600;
    }

    li::selection {
        background: #F1C600;
    }

    a::-moz-selection {
        background: #F1C600;
    }

    a::selection {
        background: #F1C600;
    }
    /*************/
    /*******
  NAV
*******/

    .nav a {
        font-size: 1.45em;
        margin: 0 5px 0 5px;
        margin-top: 20px;
    }
    /**************/
    /****
Font
****/

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.25em;
    }

    h3 {
        font-size: 1.15em;
    }

    li {
        font-size: 1em;
    }
    html {
        text-rendering: optimizeLegibility;
    }


    /************/


    body {
        background-color: #01579B;
        color: #fff;
    }

    a {
        text-decoration: none;
        color: #F14500;
    }

    li {
        list-style: none;
    }

    .center {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .underline {
        border-bottom: 1.75px solid #fff;
        margin-top: 50px;
        margin-bottom: 5px;
    }

    .underline {
        font-size: 1em;
    }

ul{
  padding-left: 15px;
}
