/***
COMMENTS
02/21/17

added style for dd and dt tags for the new project page
03/01/17

added padding
added margins to space things out
changed font size
***/


dt{
  font-size: 1em;
  font-family: sans-serif;
  margin-left: 10px;
  border-bottom: 1.75px solid #fff;



}
dd{
  margin-top: 10px;
  font-size:1em;
  margin-left: 35px;
  margin-bottom: 10px;

}

@media only screen and (min-width:1024px) {
main{
  margin:0 400px;
}
}
