* {
    box-sizing: border-box;
}

body {
    background-color: #6699ff;
    color: #d5e3ff;
    background-image: url('./img/gradientblue.jpg');
}

#mobile {
    display: none;
}

#desktop {
    display: inline;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    min-width: 700px;
    max-width: 1024px;
    background-color: #ffffff;
    color: #000066;
}

header {
    color: #fff;
    background-color: #000066;
    background-image: url('./img/bigfish.gif');
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    text-align: center;
    font-size: 3em;
    padding: 10px;
    line-height: 150%;
    text-shadow: 1px 1px 1px #ccc;
}

nav {
    font-weight: bold;
    float: left;
    width: 150px;
}

li {
    list-style: none;
}

nav a {
    text-decoration: none;
}

nav a:link {
    color: #3262a3;
}

nav a:visited {
    color: #6699ff;
}

nav a:hover {
    color: #ccc;
}

main {
    margin: 0px 20px 20px 180px;
}

.category {
    font-weight: bold;
    background-color: #fff;
    color: #003366;
    font-size: 1.1em;
    text-shadow: 1px 1px 1px #667;
}

footer {
    font-size: .70em;
    font-style: italic;
    padding: 10px;
    margin-left: 180px;
}

img {
    border-style: none;
}

footer nav {
    text-align: left;
}

header, nav, main, footer {
    display: block;
}

label {
    float: left;
    display: block;
    text-align: right;
    width: 8em;
    padding-right: 1em;
}

input, textarea {
    display: block;
    margin-bottom: 1em;
}

#mySubmit {
    margin-left: 9.5em;
}

video{
  float:right;
  margin: 0 20px;
}

@media only screen and (max-width:1024px) {
    body {
        padding: 0px;
        background-color: white;
        background-image: none;
    }
    #wrapper {
        width: auto;
        min-width: 0px;
        margin: 0px;
    }
    h1 {
        margin: 0px;
        font-size: 1.8em;
        line-height: 200%;
    }
    nav {
        float: none;
        width: auto;
    }
    nav li {
        display: inline-block;
    }
    nav a {
        padding: 1em;
        font-size: 1.2em;
    }
    nav ul {
        text-align: center;
        padding: 0px;
        margin: 0px;
    }
    main {
        font-size: 90%;
        margin: 0px;
        padding-left: 2em;
    }
    footer {
        margin: 0px;
    }
}

table {
    border: 2px solid darkblue;
    border-collapse: collapse;
}

td, th {
    padding: .5em;
    border: 1px solid darkblue;
}

th {
    font-weight: bold;
}

@media only screen and (max-width:768px) {
    header {
        background-image: url('./img/lilfish.gif');
        background-repeat: no-repeat;
        background-position: center;
    }
    h1 {
        font-size: 1.5em;
        line-height: 120%;
    }
    nav a {
        display: block;
        padding: .2em;
        font-size: 1.3em;
        border-bottom: 1px solid #330000;
    }
    nav li {
        display: block;
    }
    nav ul {
        text-align: left;
    }
    main {
        padding-left: 1em;
    }
    .category {
        text-shadow: none;
    }
    #mobile {
        display: inline;
    }
    #desktop {
        display: none;
    }
}
